* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
  min-height: 100%;
}

body,
#root {
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header styles */

.header {
  height: 1rem;
  background-color: #fff;
}

.header-logo {
  width: 15rem;
  margin: 1rem;
}

/* Styles foe Search bar */

.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar {
  width: 20rem;
  height: 3rem;
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  background-color: #f2f2f2;
  box-shadow: none;
  border: none;
  padding: 0.5rem;
}

.submit-btn {
  width: 5rem;
  height: 3rem;
  border-radius: 0rem 0.4rem 0.4rem 0rem;
  background-color: #f2c94c;
  border: none;
  color: #fff;
}

/* Card styling */

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
}

.card {
  font-size: 0.8rem;
  background-color: #f2f2f2;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* filterBar Styling */

.tags-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.5rem;
  margin: 2rem 0;
  background-color: #f2f2f2;
  height: 2rem;
}
/* landingPage styling */

.landingPage-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}

.landingPage-container {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.landingPage-container > h1 {
  font-size: 3rem;
  font-weight: 200;
  margin: 15rem 0 5rem 0;
  color: #f2c94c;
}

.landingPage-container > h4 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  color: #fff;
}

.landingPage-container > p {
  margin: 0 0 3rem 0;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.landing-section {
  background: url("./components/images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 6rem);
}

.layer {
  height: 100%;
  background-color: rgba(75, 86, 160, 0.5);
}

.img-container{
  width: 10rem;
  height:10rem;
}

.single-main-div{
  display:flex;
  margin-top: 7rem;
}

.main-left-div{
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
}

.main-right-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-right-div{
margin:0.5rem 0.5rem 0.5rem 0.5rem;
 }
 .bottom-right-div{
 margin:0.5rem 0.5rem 0.5rem 0.5rem;
 }

.link-button{
background-color:white;
border:1px solid red;
border-radius:0.5rem;
color:black;
margin-right:1rem;
padding:0.5rem 1rem 0.5rem 1rem;
 }
